@media (max-width: 60rem) {
    .movie__container {
        font-size: 0.7rem;
    }

    .movie__container h2 {
        font-size: 1rem;
    }
    
    .movie__container h4 {
        font-size: 1rem;
    }

    .movie__element img {
        height: auto;
        width: 17rem;
    }
    .movie__element__content {
        height: auto;
        width: 17rem;
        border: 1px solid #000;
        background-color: rgba(0, 0, 0, 0.705);
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }
}

@media (max-width: 40rem) {
    .movie__container {
        font-size: 3rem;
    }

    .movie__container h2 {
        font-size: 1rem;
    }
    
    .movie__container h4 {
        font-size: 1rem;
    }

    .movie__element {
        display:flex;
        flex-direction: column;
    }
    .movie__element img {
        height: auto;
        width: 13rem;
    }
    .movie__element__content {
        height: auto;
        width: 13rem;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }
}

@media (max-width: 23rem) {
    .movie__container {
        font-size: 0.75rem;
    }
    .movie__element {
        display:flex;
        flex-direction: column;
    }
    .movie__element img {
        display: none;
    }
    .movie__element__content {
        height: auto;
        width: 15rem;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
{ 
    .movie__container {
        font-size: 0.75rem;
    }
    .movie__element {
        display:flex;
        flex-direction: column;
    }
    .movie__element img {
        display: none
    }
    .movie__element__content {
        height: auto;
        width: 15rem;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }
}